.App {
  /* 
    background-color: rgb(238,69,64); */

  /* 
    background: rgb(192,246,186);
background: linear-gradient(90deg, rgba(192,246,186,1) 0%, rgba(2,0,36,0) 99%, rgba(103,214,67,0.04945728291316531) 100%, rgba(0,212,255,1) 100%); */

  /* background: rgb(192,246,186);
background: linear-gradient(90deg, rgba(192,246,186,1) 0%, rgba(63,237,71,1) 0%, rgba(2,0,36,0) 99%, rgba(103,214,67,0.04945728291316531) 100%, rgba(0,212,255,1) 100%); */

  /* background: rgb(192,246,186);
background: linear-gradient(90deg, rgba(192,246,186,1) 0%, rgba(63,237,71,1) 6%, rgba(50,255,0,0) 24%, rgba(2,0,36,0) 99%, rgba(103,214,67,0.04945728291316531) 100%); */

  /* background: rgb(192,246,186);
background: linear-gradient(90deg, rgba(192,246,186,1) 0%, rgba(164,235,167,1) 0%, rgba(2,0,36,0) 99%, rgba(50,255,0,0) 100%, rgba(103,214,67,0.04945728291316531) 100%); */
/* 
  background: rgb(192, 246, 186);
  background: linear-gradient(
    90deg,
    rgba(192, 246, 186, 1) 0%,
    rgba(50, 255, 0, 0) 10%,
    rgba(2, 0, 36, 0) 39%,
    rgba(103, 214, 67, 0.04945728291316531) 52%,
    rgba(181, 237, 183, 1) 98%,
    rgba(181, 237, 183, 1) 100%
  ); */


  /* font-family: 'Roboto Slab', serif; */

  font-family: 'Poppins', sans-serif;



}

img {

  max-width: 50px;
}



textarea:focus, input:focus, input[type]:focus {

  border-color: rgb(3, 143, 72);

  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(3,143,0,0.6);

  outline: 0 none;

}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #8064A2;
}
